@import url('//fonts.googleapis.com/css2?family=Roboto');

/* ##################################################
                          COMMON
 ##################################################  */

html {
  scroll-behavior: smooth;
}
body {
  background-color: #eee;
  font-family: "Roboto", sans-serif;
  color:#333;
  font-size: 15px;
}

/* ##################################################
                          PAGES
 ##################################################  */
#page-content {
  padding-top: 5vh;
}

/* ##################################################
                          CARDS
 ##################################################  */

.card {
  margin: 30px 0 10px 0;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}
.card-body {
  padding: 0;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-header {
  background-color: #3871E3;
  color: #eee;
  font-size: 1.2rem;
}
/* ##################################################
                          DATA TABLES
 ##################################################  */
.data-table {
  padding: 0 1rem 0 1rem;
}

/* ##################################################
                          MAIN PAGE
 ##################################################  */

#main-col {
  text-align: center;
  padding-top: 30vh;
}
#main-brand {
  font-size: 10vh;

}



/* ##################################################
                          SIDEBAR
 ##################################################  */
.navbar-brand {
  color: #333;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
}
.navbar-brand:hover {
  text-decoration: none;
  color: #333;
}

.nav-pills .nav-link {
  transition:ease .2s;
  font-size: 1.2rem;
  color: #333;
}

.nav-pills .nav-link:hover {
  color: #eee;
  background-color: #555;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #eee;
    background-color: #333;
}

.nav-pills .nav-link .icon:before {
  font-size: 1.5rem;
  min-width: 2.5rem;
  text-align: center;
  padding-right: 0.5rem;
}

#sidebar {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #f8f9fa;
}
#sidebar.collapsed {
  background-color: #eee;
}
#sidebar h2 {
  text-align: left;
  margin-bottom: 0;
}

/* Hide the blurb on a small screen */
#blurb {
  display: none;
}

#sidebar-toggle {
  display: none;
}

#sidebar-toggle:focus {
  outline:none;
}

#collapse *:first-child {
  margin-top: 1rem;
}

/* add the three horizontal bars icon for the toggle */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#navbar-toggle, #sidebar-toggle {
  color: rgba(0,0,0,.5);
  border-color: rgba(0,0,0,.1)
}
#navbar-toggle:hover, #sidebar-toggle:hover {
  color: rgba(0,0,0,1);
  background-color: #f8f9fa;
}


@media (min-width: 48em) {
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20rem;
    text-align: left;
    transition: margin 0.3s ease-in-out, padding 0.3s ease-in-out;
  }

  #sidebar-toggle {
    display: inline-block;
    position: relative;
    top: 0;
    transition: top 0.3s ease-in-out;
  }

  /* add negative margin to sidebar to achieve the collapse */
  #sidebar.collapsed {
    margin-left: -15.5rem;
    padding-right: 0.5rem;
  }

  /* move the sidebar toggle up to the top left corner */
  #sidebar.collapsed #sidebar-toggle {
    top: -2rem;
  }

  /* also adjust margin of page content */
  #sidebar.collapsed ~ #page-content {
    margin-left: 6.5rem;
  }

  /* move all contents of navbar other than header (containing toggle) further
     off-screen */
  #sidebar.collapsed > *:not(:first-child) {
    margin-left: -6rem;
    margin-right: 6rem;
  }

  /* reveal the blurb on a large screen */
  #blurb {
    display: block;
  }

  /* Hide the toggle on a large screen */
  #navbar-toggle {
    display: none;
  }

  #collapse {
    display: block;
  }

  /* set margins of the main content so that it doesn't overlap the sidebar */
  #page-content {
    margin-left: 22rem;
    margin-right: 2rem;
    transition: margin-left 0.3s ease-in-out;
  }
}